@media screen and (min-width: 500px) {
    :root{
        --invalid: red;
        --valid: green;
        --roundBorder: 45px 300px;
        --back: rgb(0, 0, 0);
        --back2: hsla(158, 27%, 6%, 0.822);
        --foredark: hsla(0,0%,10%,1);
        --forelight: hsla(0,0%,100%,1);
        --border: hsla(0, 0%, 0%, 0.8);
        --borderlight: hsla(0, 0%, 0%, 0.411);
        --shadow: hsla(0, 0%, 50%, 0.993);
        --zebra: hsl(0, 0%, 93%, 1);
    }
    body{
        margin:0;
        padding:0;
    }

    header{
        display: grid;
        background:  blue;
        text-align: center;
        grid-column: 1 / 4;    
        
    }
    header img{
        grid-column: 2 / 3;
    }
    .focus{
        color:chartreuse;
    }
    .hero {
        margin: 10px auto;
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        height: 400px;
    }
    .herolabel {
        position: absolute;
        top: 30px;
        left: 40px;
        background: radial-gradient(#fff, #6c728b);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.55;
    }

    nav{
        background: black;
        align-items: center;
        justify-content: center;
        height: 200px;
        text-align: center;
        grid-column: 1 / 4;
        display: flex;
    }

    nav ul li{ 
        padding-bottom: 20px;
    }

    nav ul li a{
        color: white;
    }

    a{
        text-decoration: none;
    }
    

    h3{
        background: blue;
        color: white; 
        padding: 20px;
    }

    section{
        margin-top: 2%;
        border: 2px solid blue;
        border-radius: 5px;
        border-top: 7px solid blue;
    }

    footer{
        grid-column: 2 / 3;
    }

    #menu {
        display: none; /* hide hamburger button */
    }
    .weather::before{
        content:"☀️"
    }
    iframe{
        grid-column: 2 / 3;
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .banner img {
        
        justify-content: center;
        width: 95%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 25%;
    }
    #join{
        position: absolute;
        top: 60%;
        left: 38%;
        background: blue;
        color: #ffffff;
        font-size: 30px;
        border: none;
        border-radius: 20px;
    }
    #info{
        margin-left: 10%;
        margin-right: 10%;
    }
    #meetAndGreet{
        background: blue;
        border-radius: 10px;
    }
    table {
        margin: 10px auto;
        grid-column: 2 / 3;
        border: thin solid var(--border);
        box-shadow: 0 0 10px var(--shadow);
        border-collapse: collapse;
    }  
    caption {
      padding: 10px;
      caption-side: bottom;
        color: var(--back);
        font-size: .85rem;
    }
    tr:first-child th{
        background-color: var(--back);
        color: var(--forelight);
    }
    
    th, td {
        padding: 7px 15px;
        border: 1px solid var(--borderlight);
    }
    
    th {
        background-color: var(--back2);
        color: white;
        font-size: larger;
    }
    
    td {
        text-align: center;
    }
    
    tbody tr:nth-child(odd) {
        background-color: var(--zebra);
    }
    .close{
        display: none;
    }
    footer{
        background: blue;
        color:white;
    }
}

