@media screen and (max-width: 500px) {
    body{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    ul{
        text-decoration: none;
    }

    .navigation {
        display: none;
        flex-direction: column;
        list-style: none;
        background-color: #000000;
        color: #fff;
    }
    #join{
        left: 10%;
    }
    #join.shift{
        top: 30%;
    }
    
    .open{
        display:flex;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }
    .focus{
        color:chartreuse;
    }
    .navigation a:hover {
        background-color: #bbb;
        color: #000000;
        font-weight: 700;
    }

    #menu {
        display: flex;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "≡";
    }

    .open a{
        display: inline;
    }

    li{
        list-style: none;
    }
    main{
        grid-column: 2 / 3;
        
    }
}